DATABASE_URL=postgresql+psycopg://neondb_owner:npg_aIF5lSnU1ovP@ep-purple-recipe-aixbrwxy-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=jd7d8SCItikZI_2zUwMMxvQmlb78zjZXsnAdIK9ng5I
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=http://localhost:5173